[submodule "src/moveit2_parent_dir/moveit2"]
	path = src/moveit2_parent_dir/moveit2
	url = https://github.com/moveit/moveit2.git
	branch = humble

[submodule "src/moveit2_parent_dir/moveit_msgs"]
	path = src/moveit2_parent_dir/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
	branch = humble

[submodule "src/moveit2_parent_dir/moveit_resources"]
	path = src/moveit2_parent_dir/moveit_resources
	url = https://github.com/ros-planning/moveit_resources.git
	branch = humble
[submodule "src/vision_guided_dual_arm/aubo_ros2_driver"]
	path = src/vision_guided_dual_arm/aubo_ros2_driver
	url = git@github.com:AuboRobot/aubo_ros2_driver.git
[submodule "src/vision_guided_dual_arm/melfa_ros2_driver"]
	path = src/vision_guided_dual_arm/melfa_ros2_driver
	url = git@github.com:Mitsubishi-Electric-Asia/melfa_ros2_driver.git
	branch = humble
